In [ ]:
a=[1,2,3,4,5]
b=[0,0]

b[0]= 1 in a
b[1]= 6 not in a

print(b)

[True, True]

In [ ]:
a=[1,2,3,4,5]
b=[9,8,7,6]

a+b

[1, 2, 3, 4, 5, 9, 8, 7, 6]

In [ ]:
list(range(0,10))+list(range(10,20))
# +와 range를 사용할때는 range혼자 쓸 수 없고 list또는 tauple를 사용해야 한다 *도 마찬가지

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

문자열+문자열 은 문제가 없다. 문자열*수 도 문제 없다.

In [ ]:
a=[0]*5
a[0]=1
a

[1, 0, 0, 0, 0]

In [ ]:
a=[0]*10
len(a)

10

In [ ]:
len(range(0,10,5))

2

In [ ]:
len('동해물과 백두산이')
#공백도 포함

9

In [ ]:
a=[0]*10
a[9]=39
a[len(a)-1]
#()인 tuple은 사용 불가 값 수정 불가하기에 인덱스를 수정하지 않는 경우 사용가능

39

In [ ]:
a=[1,2,3,4]
del a[2]
a

[1, 2, 4]

In [ ]:
a=[0,1,2,3,4,5,6,7,8,9]
a[2:8:2] 
#a[2:-2:2]

[2, 4, 6]

In [ ]:
a=list(range(0,10))
b=[0]*7
b[0]=a[:6]
b[1]=a[6:]
b[2]=a[:6:2]
b[3]=a[6::2]
b[4]=a[::2]
b[5]=a[:]
b[6]=a[0:len(a)]

b

[[0, 1, 2, 3, 4, 5],
 [6, 7, 8, 9],
 [0, 2, 4],
 [6, 8],
 [0, 2, 4, 6, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [ ]:
a=list(range(0,10))

a[2:5]=['a']
a

[0, 1, 'a', 5, 6, 7, 8, 9]

In [ ]:
a=list(range(0,10))

a[2:5]=['a','b','c']
a

[0, 1, 'a', 'b', 'c', 5, 6, 7, 8, 9]

In [ ]:
a=list(range(0,10))

a[2:5]=['a','b','c','d','e']
a

[0, 1, 'a', 'b', 'c', 'd', 'e', 5, 6, 7, 8, 9]

In [ ]:
a=list(range(0,10))

a[2:8:2]=['a','b','c'] # 위와 다르게 증가 폭이 있을 경우에는 대신 들어갈 문자열 숫자와 원래 있었던 숫자의 개수와 동일해야 오류가 없다.
a

[0, 1, 'a', 3, 'b', 5, 'c', 7, 8, 9]

In [ ]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [ ]:
x=input().split()
del x[-5:]
print(tuple(x))

1 2 3 4 5 6 7 8 9 10 11 12
('1', '2', '3', '4', '5', '6', '7')

In [ ]:
a, b=input().split()
print(a[1::2]+b[::2])

python python
yhnpto

In [ ]:
a=input().split()
b=input().split()
print(a[1::2]+b[::2])

python
python
['python']

In [ ]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)    
lux1

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

In [ ]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))    
lux2

{'armor': 18.72, 'health': 490, 'mana': 334, 'melee': 550}

In [ ]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['health']

490

In [ ]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['health'] = 2037
lux

{'armor': 18.72, 'health': 2037, 'mana': 334, 'melee': 550}

In [ ]:
lux['mana_regen'] = 3.28    # 키 'mana_regen'을 추가하고 값 3.28 할당
lux

{'armor': 18.72, 'health': 2037, 'mana': 334, 'mana_regen': 3.28, 'melee': 550}

In [ ]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
len(lux)

4

In [ ]:
 a= input().split()

health health_regen mana mana_regen

In [ ]:
x = 5          # x에 5를 할당
 
if x == 10:    # x가 5라서 조건식을 만족하지 않음
     print('x에 들어있는 숫자는')
print ('10입니다.')

10입니다.

In [ ]:
x = 15
 
if x >= 10:
     print('10 이상입니다.')
 
     if x == 15:
         print('15입니다.')
 
     if x == 20:
         print('20입니다.')

10 이상입니다.
15입니다.

In [ ]:
x = int(input())          # 입력받은 값을 변수에 저장
 
if x == 10:               # x가 10이면
    print('10입니다.')    # '10입니다.'를 출력
 
if x == 20:               # x가 20이면
    print('20입니다.')    # '20입니다.'를 출력

In [ ]:
if x == 10:
    print('10입니다.') 
else:
    print('x에 들어있는 숫자는')
    print('10이 아닙니다.')

In [ ]:
button = int(input())
 
if button == 1:
    print('콜라')
elif button == 2:
    print('사이다')
elif button == 3:
    print('환타')
else:
    print('제공하지 않는 메뉴')

In [ ]:
 for i in reversed(range(10)):    # range에 reversed를 사용하여 숫자의 순서를 반대로 뒤집음
     print('Hello, world!', i)

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))
 
while count > 0:     # count가 0보다 클 때 반복
    print('Hello, world!', count)
    count -= 1

반복할 횟수를 입력하세요: 10
Hello, world! 10
Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [ ]:
import random    # random 모듈을 가져옴
 
i = 0
while i != 3:    # 3이 아닐 때 계속 반복
    i = random.randint(1, 6)    # randint를 사용하여 1과 6 사이의 난수를 생성
    print(i)

4
2
2
2
6
3

In [ ]:
a=list(range(1,100))
a[::3] 
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
a=list(range(1,10))
a[2:10:2]=['짝','짝','짝','짝']
a

[1, 2, '짝', 4, '짝', 6, '짝', 8, '짝']

In [ ]:

a=[0,1,2,3,4,5,6,7,8,9,10]
a[2:10:2]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list(range(1,11)),list(range(11,21)),list(range(21,31)),list(range(31,41)),list(range(41,51)),list(range(51,61)),list(range(61,71)),list(range(71,81)),list(range(81,91)),list(range(91,101)), sep='\n')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
[41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
[61, 62, 63, 64, 65, 66, 67, 68, 69, 70]
[71, 72, 73, 74, 75, 76, 77, 78, 79, 80]
[81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
 for i in reversed(range(0,100,3)):    # range에 reversed를 사용하여 숫자의 순서를 반대로 뒤집음
...     print('Hello, world!', i)

Hello, world! 99
Hello, world! 96
Hello, world! 93
Hello, world! 90
Hello, world! 87
Hello, world! 84
Hello, world! 81
Hello, world! 78
Hello, world! 75
Hello, world! 72
Hello, world! 69
Hello, world! 66
Hello, world! 63
Hello, world! 60
Hello, world! 57
Hello, world! 54
Hello, world! 51
Hello, world! 48
Hello, world! 45
Hello, world! 42
Hello, world! 39
Hello, world! 36
Hello, world! 33
Hello, world! 30
Hello, world! 27
Hello, world! 24
Hello, world! 21
Hello, world! 18
Hello, world! 15
Hello, world! 12
Hello, world! 9
Hello, world! 6
Hello, world! 3
Hello, world! 0

In [ ]:
def claps(number):
    num_str = str(number)
    count_claps = 0
    count_claps += num_str.count('3')
    count_claps += num_str.count('6')
    count_claps += num_str.count('9')
    return count_claps

for number in range(1, 101):
    ending = '\t'
    n = claps(number)
    if number % 3 == 0:
        ending = '\n'
    if n == 0:
        print(number, end=ending)
    else:
        print(n * '짝', end=ending)

1	2	짝
4	5	짝
7	8	짝
10	11	12
짝	14	15
짝	17	18
짝	20	21
22	짝	24
25	짝	27
28	짝	짝
짝	짝	짝짝
짝	짝	짝짝
짝	짝	짝짝
40	41	42
짝	44	45
짝	47	48
짝	50	51
52	짝	54
55	짝	57
58	짝	짝
짝	짝	짝짝
짝	짝	짝짝
짝	짝	짝짝
70	71	72
짝	74	75
짝	77	78
짝	80	81
82	짝	84
85	짝	87
88	짝	짝
짝	짝	짝짝
짝	짝	짝짝
짝	짝	짝짝
100

In [ ]:
a = int(input())
b=0
i=1
while b <= 100:
  print(a*i)
  i += 1
  b = a*i

In [ ]:
1*'WKWr'

'짝'

In [ ]:
for i in range(1,100):
  i=str(i)
  b=0
  while b < 2:
    a=0
    b+=1
    if '3' in i:
     a += 1
    if '6' in i:
     a += 1
    if '9' in i:
     a += 1
    else:
      if a==0:
        print(i)
      else:
        print(a*'짝')

1
1
2
2
짝
짝
4
4
5
5
짝
짝
7
7
8
8
10
10
11
11
12
12
짝
짝
14
14
15
15
짝
짝
17
17
18
18
20
20
21
21
22
22
짝
짝
24
24
25
25
짝
짝
27
27
28
28
짝
짝
짝
짝
짝
짝
짝
짝
짝
짝
짝
짝
짝짝
짝짝
짝
짝
짝
짝
40
40
41
41
42
42
짝
짝
44
44
45
45
짝
짝
47
47
48
48
50
50
51
51
52
52
짝
짝
54
54
55
55
짝
짝
57
57
58
58
짝
짝
짝
짝
짝
짝
짝짝
짝짝
짝
짝
짝
짝
짝
짝
짝
짝
짝
짝
70
70
71
71
72
72
짝
짝
74
74
75
75
짝
짝
77
77
78
78
80
80
81
81
82
82
짝
짝
84
84
85
85
짝
짝
87
87
88
88

In [ ]:
for i in range(1,100):
  i=str(i)
  b=1
  while b < 2:
    a=0
    b+=1
    if '3' in i:
     a += 1
    elif '6' in i:
     a += 1
    elif '9' in i:
     a += 1
    else:
      if a==0:
        print(i)
      else:
        print('짝', a)

1
2
4
5
7
8
10
11
12
14
15
17
18
20
21
22
24
25
27
28
40
41
42
44
45
47
48
50
51
52
54
55
57
58
70
71
72
74
75
77
78
80
81
82
84
85
87
88