In [1]:
file=open('hello.txt', 'w')
file.write('Hello, world!')
file.close()

In [2]:
file=open('hello.txt', 'r')
s=file.read()
print(s)
file.close()

Hello, world!

In [7]:
with open('hello.txt','r') as file:
    s=file.read()
    print(s)

Hello, world!

In [9]:
lines = ['안녕하세요.\n', '파이썬\n', '코딩 도장입니다.\n']
with open('hello.txt','w') as file:
    file.writelines(lines)
with open('hello.txt','r') as file:
    for line in file:
        print(line.strip('\n'))

안녕하세요.
파이썬
코딩 도장입니다.

In [11]:
import pickle
 
name = 'james'
age = 17
address = '서울시 서초구 반포동'
scores = {'korean': 90, 'english': 95, 'mathematics': 85, 'science': 82}
 
with open('james.p', 'wb') as file:  
    pickle.dump(name, file)
    pickle.dump(age, file)
    pickle.dump(address, file)
    pickle.dump(scores, file)
    
 
with open('james.p', 'rb') as file:   
    name = pickle.load(file)
    age = pickle.load(file)
    address = pickle.load(file)
    scores = pickle.load(file)
    print(name)
    print(age)
    print(address)
    print(scores)

james
17
서울시 서초구 반포동
{'korean': 90, 'english': 95, 'mathematics': 85, 'science': 82}

In [ ]:
with open('words.txt', 'r') as file:
  text = file.readline()
  words=text.split()
      print([word.strip(',.') for word in words if 'c' in word])

In [44]:
a=input()
b=True
for i in range(len(a)//2):
  if a[i] != a[-1-i]:
    b=False
    break
print(b)

level
True

In [45]:
word = input()
 
print(word == word[::-1])

단어를 입력하세요: level
True

In [46]:
word = 'level'
list(word) == list(reversed(word))

True

In [47]:
 text = 'hello'
list(zip(text, text[1:]))

[('h', 'e'), ('e', 'l'), ('l', 'l'), ('l', 'o')]

In [65]:
with open('words.txt','r') as f:
   
   
    a=f.readline()  
    a=a.split()

for j in a:
    for i in range(len(j)//2):
        if j[i] == j[-1-i]:
            print(j)

that
dressed

In [67]:
with open('words.txt', 'r') as file:
  a = None

  while a != '':
    a = file.readline().strip('\n')
    b = True
    for i in range(len(a) // 2):
      if a[i] != a[-1-i]:
        b = False
        break
    if b:
      print(word)

In [68]:
def hello():
    print('Hello, world!')
 
hello()

Hello, world!

In [74]:
def add(a, b):
    print(a+b)
add(10, 20)

30

In [75]:
def add(a, b):
    return a+b, a-b

x= add(10, 30) #x,y = add_sub(10, 20) 
x

40

In [76]:
def set():
    return[1,2]
x,y=set()
print(x,y)

1 2

In [77]:
def mul(a, b):
    c = a * b
    return c
 
def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)
 
x = 10
y = 20
add(x, y)

30
200

In [82]:
x, y = map(int, input().split())
def cale(b,c):
    return b+c, b-c, b*c, b/c
a, s, m, d = cale(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

10 20
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

In [85]:
 def print_numbers(*y):
     for arg in y:
         print(arg)
 
 y = [10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

In [94]:
def print_numbers(a, *b):
...     print(a)
...     print(b)
...
>>> print_numbers(1,10,20)

1
(10, 20)

In [99]:
 def personal_info(name, age, address):
     print('이름: ', name)
     print('나이: ', age)
     print('주소: ', address)
personal_info('홍길동', 30, '서울시 용산구 이촌동')


# == personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

# == x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
# personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [98]:
def personal_info(name, age, address='비공개'):  #personal_info('홍길동', 30, '서울시 용산구 이촌동') 도 가능
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

personal_info('홍길동', 30)

#def personal_info(name, age, address='비공개'):
#def personal_info(name, age=0, address='비공개'):
#def personal_info(name='비공개', age=0, address='비공개'): 처럼 뒤쪽 부터 초깃값을 지정해야만한다.

이름:  홍길동
나이:  30
주소:  비공개

In [100]:
def factorial(n):
    if n == 1:     
        return 1    # 1을 반환하고 재귀호출을 끝냄
    return n * factorial(n - 1)   
 
print(factorial(5))

120

In [101]:
def a(n):
  if n <= 1:
    return n
  else:
    return a(n-1)+ a(n-2)
n = int(input())
print(a(n))

10
55