In [2]:
True

True

In [3]:
False

False

In [11]:
a=[0,0,0]
a[0]=3>1
a[1]=10==10
a[2]=10!=5
a

[True, True, True]

In [7]:
'Python'=='Python'
#소문자도 인식함 따라서 'Python'=='python'은 거짓이 나온고 'Python'!='python'진실이 나온다.

True

In [10]:
a=[0,0,0,0]
a[0]= 10>20
a[1]= 10<20
a[2]= 10>=10
a[3]= 10<=10
a

[False, True, True, True]

In [14]:
a=[0,0,0]
a[0]= 1==1.0
a[1]= 1 is 1.0
a[2]= a is not 1.0
a
# ==는 비교 대상의 숫자가 같은지만 확인하지만 is(==와 유사), is not(!=와 유사)은 숫자 뿐만이 아니라 정수(객체), 실수(객체)도 판단하기 때문에 a[1]은 거짓이 나오고 a[2]은 진실이 나오게 되는 것이다.

# 1,1.0 이 서로 다른 것을 확인 하는 방법으로 id(변수)가 있으며 이는 객체의 고유한 값(메모리 주소)를 알려 주기 때문에 다름을 알 수 있다.

# a=5와 a is 5는 성립할 때도 있고 아닐 때도 있다. 이는 a라는 변수 때문에 5가 다른 메모리 주소를 가지기 때문인데 따라서 숫자 비교는 무조건 ==으로 해야한다

[True, False, True]

In [25]:
a=[0,0,0,0,0,0,0]
a[0]=True and True
a[1]=True and False
a[2]=False and True
a[3]=False and False

a[4]=False and 'python'
a[5]=0 and 'python'  # 0과''은 bool에 따라 거짓으로 인식하고 1은 참으로 인식한다.
a[6]=1 and '' 
a
#and는 두 값이 모든 참이야 참이 된다. 하나 또는 두개가 거짓이면 거짓이 된다

#또한 단락 평가 때문에 첫 번째 값이 거짓일시 두번째 값을 보지 않고 바로 -첫 번째 값-을(a[4],a[5]참고) 출력한다. 반대로 첫 번째 값이 참일시 두 번째 값도 확인하고  -두 번째 값-을(a[6]참고) 출력하게 된다.

[True, False, False, False, False, 0, '']

In [28]:
a=[0,0,0,0,0,0,0]
a[0]=True or True
a[1]=True or False
a[2]=False or True
a[3]= False or False

a[4]= 'python' or True
a[5]= False or 'python'
a[6]= 0 or 1
a
#or은 두 값중 하나라도 참일시 참이 된다. 단 두 값 모두 거짓일시 거짓이 된다.

#또한 단락 평가 때문에 첫 번째 값이 참이면 두 번째 값을 보지 않고 -첫 번째 값-을(a[4]참고) 출력하고 반대로 첫 번째 값이 거짓일시 두번째 값을 확인하고 -두 번째 값-을(a[5],a[6]참고) 출력하게 된다.

[True, True, True, False, 'python', 'python', 1]

In [19]:
a=[0,0,0]
a[0]=not True
a[1]=not False
a[2]=not True and False or not False
a
# not은 논릿값을 뒤집습니다.
# a[3]처럼 not,and,or이 섞여있을때 not,and,or순으로 판단 합니다. 만약 헷갈린다면 ((not True)and False)or(not False)도 해결책이다.

[False, True, True]

a[3]해설
not true and False or not False
->False and False or True 
->False or True
->True

In [20]:
a=[0,0,0,0,0]
a[0]=bool(1)
a[1]=bool(0)
a[2]=bool(1.5)
a[3]=bool('False')
a[4]=bool('')
a
# bool은 값이 존재하면 참 존재하지 않으면(0도 값이 없는 것) 거짓이 된다 따라서 a[1],a[2],a[3]은 참이 되고 나머지는 거짓이 된다.

[True, False, True, True, False]

In [39]:
a=10
b=20
(not b) != (20 and a>5)

True

In [46]:
a=[0,0,0,0]
a[0],a[1],a[2],a[3]=map(int, input('').split(' '))
print(a[0]>=90 and a[1]>80 and a[2]>85 and a[3]>=80)

90 80 85 80
False

In [9]:
#여려 줄로 된 문자열 사용하기
a='''Hello, world!
안녕하세요.
python입니다.'''
print(a)

#또는

print('Hello\nPyrthon')

#'''나"""나\n를 사용함

Hello, world!
안녕하세요.
python입니다.
Hello
Pyrthon

In [8]:
a=[0,0,0,0,0]

a[0]='He said "pythonis easy"'
a[1]='''"안녕하세요." 
'파이썬'입니다'''
a[2]=""""Hello" 
'Python'"""
a[3]="""Hello, 'Python'"""
a[4]='Python isn\'t difficult'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
#문자열 안에 ""를 넝고 싶다면 문자열을''로 묶어준다. 단" " "또는' ' '은 예외로 상관없이 써도 상관없다. 

#작은 따옴표 안에 작은 따옴표를 넣을려면 작은 따옴표앞에 \를 붙치면 된다.(a[4]참고)

He said "pythonis easy"
"안녕하세요."
'파이썬'입니다
"Hello"
'Python'
Hello, 'Python'
Python isn't difficult

In [1]:
a=['수학', '국어', '영어', '사화', '한국사', '과학']
a[0], a[1], a[2], a[3], a[4], a[5]= map(float, input('수학, 국어, 영어, 사회, 한국사,과학의 점수를 차례대로 입력하시오:').split(' '))
print((a[0]+a[1]+a[2]+a[3]+a[len(a)-2]+a[5])/6)

수학, 국어, 영어, 사회, 한국사,과학의 점수를 차례대로 입력하시오:10 20 30 40 50 60
35.0

In [3]:
# 빈 리스트 만들기
a=[]
b=list()
print(a,b,sep='\n')
#빈 리스트는 나중에 a.append,a.extend를 통해 확장 가능

[]
[]

In [4]:
a= range(10)
b= list(a)
c=list(range(5,12))
d=list(range(-4, 10, 2)) #list(range(시작, 끝, 증가폭)) 단 리스트에는 끝은 포함 되지 않음
e=list(range(10, 0, -1)) #감소도 가능
print(a,b,c,d,e,sep='\n')

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[-4, -2, 0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
#튜플
a=[0,0,0]
a[0]=(1,2,3,4,5)
a[1]=6,7,8,9,10
a[2]='a',11,12.1,True
#print(a,b,c,sep='\n')
a

[(1, 2, 3, 4, 5), (6, 7, 8, 9, 10), ('a', 11, 12.1, True)]

In [16]:
#요소가 한개 들어있는 튜플
a=(38) #결과를 보면 38로 나오는데 이는 튜플이 아닌 그저 숫자이기에 주제에 부합하지 않다
b=(38,)
c=38,
print(a,b,c,sep='\n')
# 실무에 쓸곳이 있다 한다

38
(38,)
(38,)

In [ ]:
#range 활용은 list와 비슷하며 대신 tuple로 쓴다.

In [17]:
#리를 튜로 튜를 리로
a = [1, 2, 3]
b = (4, 5, 6)
print(tuple(a),list(b),sep='\n')

(1, 2, 3)
[4, 5, 6]

In [18]:
#문자열
a=list('Hello')
b=tuple('Hello')
print(a,b,sep='\n')

['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')

In [19]:
#변수
a, b, c = [1, 2, 3]
print(a, b, c)

d, e, f = (4, 5, 6)
print(d, e, f)

1 2 3
4 5 6

In [30]:
b=input()
b=int(b)
a=tuple(range(-10, 9, b))
print(a)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)